* {
    background:     rgba( 104, 103, 104, 100% );
    background-alt: rgba( 2, 51, 59, 50% );
    foreground:     rgba( 255, 255, 255, 100% );
    selected:       rgba( 255, 255, 255, 100% );
    active:         @selected;
    urgent:         rgba( 196, 76, 33, 100% );
}
