
/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

/* https://github.com/arkboix/dotfiles */

* {
    background:     rgba( 0, 0, 0, 0.8 );
    background-alt: #073642FF;
    foreground:     #EEE8D5FF;
    selected:       #268BD2FF;
    active:         #859900FF;
    urgent:         #DC322FFF;
}
